# dependencies
node_modules
.pnp
.pnp.js

# testing
coverage

# next.js
.next/
out/

# production
build
dist

# misc
.DS_Store
*.pem
*.log

# env
.env
.env*.local
!.env.example
.env.development
.env.production

# vercel / turbo
.vercel
.turbo

# typescript
*.tsbuildinfo
next-env.d.ts

# IDE
.idea
.vscode
